*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;    
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
    background-color: #282828;
}
.main-content{
    background-color: #282828;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 30px;
    top: 40px;
}
/* Profile related css */
.profile{
    text-align: center;
}
.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

/* Contact Related CSS */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}
.label{
    font-weight: 500px;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email, .phone{
    margin-bottom: 15px;
}

/* Social Media */
.social{
    margin: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}

.social img:hover{
    filter: none;
    cursor: pointer;
}

/* Main-Content */

/* Navigation */
#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: #a0a0a0; 
    font-weight: 500;
    transition: color 0.3s ease;
}
.active, nav a:hover{
    color: #ffbf00;
}

.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width: 40px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}
.content{
    text-align: justify;
}

#about{
    margin-bottom: 40px;
}

/* Skills */

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 75px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}
.item{
    height: auto;
    width: 120px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    margin-bottom: 15px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%);
    text-align: center;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Education */
#education{
    margin-top: 30px;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    color: #a0a0a0;
    font-style: italic;
    margin-bottom: 10px;
}
.leraning{
    color: #a0a0a0;
}
.edfirst{
    padding-left: 25px;
    position: relative;
    margin-bottom: 30px;
}

.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #ffbf00;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10;
}
.edtech{
    position: relative;
}
.liner{
    position: absolute;
    width: 2px;
    left: 5px;
    top: 10px;
    bottom: 0px;
    border: 2px solid #3a3a3a;
}








